.page-home {

  .map,
  .map-base {
    height: 50vh;
  }

  main {
    padding: 0;
  }

}

.home-destinations,
.home-start {

  font-size: 1.2em;
  padding-top: 4em;
  padding-bottom: 4em;

  ul {
    list-style: none;
    padding: 0;
    margin: 1.2em 0;
  }

  li {
    margin-bottom: .5em;
  }

  h2 {

    font-size: 1.6em;
    font-weight: 700;
    font-family: $font-sans-serif-condensed;
    text-transform: uppercase;
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }

  }

  p {

    margin-bottom: 1.2em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  pre {
    margin-bottom: 1.5em;
  }

}

.home-destinations {

  font-size: 1.5em;
  font-family: $font-display;

}

.home-start {

  background-color: $amber-A400;

  .note {
    color: black;
    font-style: italic;
  }

}