header {

  width: 100%;
  background-color: $blue-grey-900;

  &,
  a {
    color: $white;
  }

  .container {
    display: flex;
    justify-content: space-between;
    height: 5em;
    line-height: 5em;
  }

  ul,
  li,
  a {
    display: flex;
    align-items: center;
  }

  ul {

    justify-content: flex-end;
    list-style: none;
    font-family: $font-sans-serif-condensed;
    margin: 0;
    padding: 0;

    a {
      color: $blue-grey-100;
      text-transform: uppercase;
    }

  }

  a {
    text-decoration: none;
    padding: 0 .5em;
  }

  p {
    font-size: 2em;
    font-weight: normal;
    font-family: $font-display;
    margin: 0;
  }

}